- const episode = data[index]
div(class="w-50")

    div(class="d-flex align-items-baseline ")
        p.w-50 Episode #{index} : #{utils.display_episode_name(episode)}
        //p.w-25 Reward sum : #{Math.round(Object.values(d.rewards).reduce((r, a) => r + a.value, 0))}
        button(class="btn btn-outline-dark rounded mx-4 btn-sm" type="button" data-bs-toggle="collapse" data-bs-target=`#table${index}` aria-expanded="false" aria-controls=`table${episode}`) Details
    div(class="collapse" id=`table${index}`)
        table(class="table table-striped table-bordered w-75")
            thead
                tr
                    th Reward name
                    th Value
                    th Percentage
            tbody(class="table-group-divider")
                each rew in episode.rewards
                    tr
                        td= rew.getFormattedName()
                        td= rew.value.toFixed(2)
                        td= `${(rew.percentage * 100).toFixed(2)}%`